{% extends 'base.html.twig' %}

{% block title %}Form Table UX Collection demo{% endblock %}

{% block body %}
    {% form_theme form_simple with [
        'form_table_layout.html.twig',
        '@FormCollection/form_theme_table.html.twig'
    ] %}
    {% form_theme form_complex with [
        'form_table_layout.html.twig',
        '@FormCollection/form_theme_table.html.twig'
    ] %}

    <div class="container">
        <h1>Form Table</h1>
        <div class="row">
            <div class="col-sm-6">
                {{ form(form_simple) }}
            </div>
            <div class="col-sm-6">
                {{ form(form_complex) }}
            </div>
        </div>
    </div>
{% endblock %}
